* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#code {
  /* border: 1px solid red; */
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

#html {
  line-height: 25px;
  font-family: "Times New Roman", Times, serif;
  word-break: break-all;
}

#result {
  position: fixed;
  width: 300px;
  height: 300px;
  right: 20px;
  top: 20px;
  /* border: 1px solid red; */
}

@media (max-width: 500px){

  #code {
    height: 50vh;
    overflow: scroll;
    border-bottom: 10px solid grey;
  }

  #result {
    position: static;
    height: 50vh;

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}